###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
# Ignore the entire vendor directory
/vendor/*
# Except for the specific file
!vendor/symfony/runtime/Internal/BasicErrorHandler.php
# Ensure the parent directories are included
# !vendor/symfony/
# !vendor/symfony/runtime/
# !vendor/symfony/runtime/Internal/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
