{% extends 'base.html.twig' %}

{% block title %}Stripe success{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center">
                <h1>Stripe success</h1> 
            </div>
        </div>
    </section>
{% endblock %}