{% extends 'base.html.twig' %}

{% block title %}Stripe success{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center">
                <h1>{{ 'congratulations_payment_approved'|trans({}, 'messages', app.request.locale) }}</h1> 
            </div>
        </div>
    </section>

    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
            <a class="btn btn-outline-dark mt-auto" href="{{ path('list_achats_utilisateur') }}">
                {{ 'my_purchases'|trans({}, 'messages', app.request.locale) }}
            </a>
        </div>
    </div>
{% endblock %}