{% extends 'base.html.twig' %}

{% block title %}Les séries TV populaires du moment{% endblock %}

{% block body %}
    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Les séries TV populaires du moment</h1>
                <p class="lead fw-normal text-white-50 mb-0">Tout ce que vous devez voir.</p>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% if tvShows is empty %}
                    <p class="text-center">Il n'y a pas de séries TV populaires.</p>
                {% else %}
                    {% for tvShow in tvShows %}
                        <div class="col mb-5">
                            <div class="card h-100 text-center">
                                <img src="{{ tmdb_images_url }}/{{ tvShow.poster_path }}" alt="{{ actor.name }}" class="card-img-top">
                                <div class="card-body p-4">
                                    <h5 class="card-title">{{ actor.name }}</h5>
                                    <div class="card-text">
                                        <p>{{ actor.known_for_department }}</p>
                      <p>Popularité : {{ actor.popularity }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}