{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <section class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Mais avant tout !</h1>
                <p class="lead fw-normal text-white-50 mb-0">Qui sommes-nous ?</p>
            </div>
        </div>
    </section>
    
    <section class="py-5">
        <div class="container">
            <h2>Bienvenue sur Mon Projet ICC</h2>
            <p>Salut à tous ! Je suis un jeune informaticien de 28 ans, passionné par la technologie sous toutes ses formes. Mon amour pour l'innovation et les dernières avancées dans le monde de l'informatique, notamment dans le domaine du gaming, me pousse à partager ma passion avec vous.</p>

            <p>C'est pourquoi j'ai créé ce site, une véritable mine d'or pour les amateurs de bons plans et de promos. Vous y trouverez une sélection soigneusement élaborée des meilleures offres du moment, que ce soit pour des équipements high-tech, des gadgets innovants ou les dernières technologies liées au gaming.</p>

            <p>Rejoignez-moi dans cette aventure passionnante où la technologie rencontre l'effervescence des bons plans ! Explorez le site, découvrez les pépites que j'ai dénichées pour vous, et restez à l'affût des tendances les plus pointues du monde informatique.</p>

            <p>Ensemble, plongeons dans l'univers fascinant de la technologie et des opportunités à ne pas manquer. Bienvenue sur le site dédié aux passionnés, aux curieux, et à tous ceux qui partagent l'amour de la tech et des bonnes affaires ! 🚀💻✨</p>
        </div>
    </section>

    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('produits.list') }}">Tout nos produits</a></div>
    </div>
{% endblock %}
