{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <section class="py-5">
            <h1 class="mt-4">Formulaire de connexion</h1>

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form action="{{ path('security.login') }}" method="post" name="login">
                <div class="form-group">
                    <label for="username" class="form-label mt-4">Adresse email</label>
                    <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}" autocomplete="email" required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label mt-4">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="_password" autocomplete="current-password" required>
                </div>

                <button type="submit" class="btn btn-primary mt-4">
                    <span class="bi bi-person-check" aria-hidden="true"></span> Se connecter
                </button>
            </form>

            <a href="{{ path('security.inscription') }}" class="btn btn-link mt-3">Vous n'avez pas de compte ? Inscrivez-vous !</a>
        </section>
    </div>
{% endblock %}